#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#
mainmenu "VT SDK Configuration"


menu "SDK tool configuration"
config TOOLPREFIX
    string "Compiler toolchain path/prefix"
    default "arm-none-eabi-"
    help
        The prefix/path that is used to call the toolchain. The default setting assumes
        a crosstool-ng gcc setup that is in your PATH.

endmenu

source "$COMPONENT_KCONFIGS_PROJBUILD"




