#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#
mainmenu "SDK Configuration"


menu "SDK tool configuration"

    source tools/toolchain/Kconfig.toolchain

    config TOOLPREFIX
        string "Compiler toolchain path/prefix"
        default "arm-none-eabi-"
        ---help---
            The prefix/path that is used to call the toolchain. The default setting assumes
            a crosstool-ng gcc setup that is in your PATH.

endmenu


source device/Kconfig.linkscript


menu "System configuration"
    config SYSTEM_CLOCK
        int "System clock (Hz)"
        default "100000000"
        ---help---
            Set system clock

    choice OPTIMIZATION_LEVEL
        prompt "Optimization level"
        default OPTIMIZATION_LEVEL_DEBUG
        ---help---
            This option sets optimization level.

            - for "Release" setting, -Os flag is added to CFLAGS,
             and -DNDEBUG flag is added to CPPFLAGS.

            - for "Debug" setting, -Og flag is added to CFLAGS.

            To override any of these settings, set CFLAGS and/or CPPFLAGS

        config OPTIMIZATION_LEVEL_DEBUG
            bool "Debug"

        config OPTIMIZATION_LEVEL_RELEASE
            bool "Release"

    endchoice
endmenu

source "$COMPONENT_KCONFIGS_PROJBUILD"

menu "APP config"
    #source "$APP_KCONFIGS"
    source apps/Kconfig.app
endmenu

menu "Module config"
    source "$COMPONENT_KCONFIGS"
endmenu
