#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#
mainmenu "SDK Configuration"


menu "SDK tool configuration"

    source tools/toolchain/Kconfig.toolchain

    config TOOLPREFIX
        string "Compiler toolchain path/prefix"
        default "arm-none-eabi-"
        ---help---
            The prefix/path that is used to call the toolchain. The default setting assumes
            a crosstool-ng gcc setup that is in your PATH.

endmenu


source device/Kconfig.linkscript


menu "System configuration"
    config SYSTEM_CLOCK
        int "System clock (Hz)"
        default "100000000"
        ---help---
            Set system clock

    choice OPTIMIZATION_LEVEL
        prompt "Optimization level"
        default OPTIMIZATION_LEVEL_DEBUG
        ---help---
            This option sets optimization level.

            - for "Release" setting, -Os flag is added to CFLAGS,
             and -DNDEBUG flag is added to CPPFLAGS.

            - for "Debug" setting, -Og flag is added to CFLAGS.

            To override any of these settings, set CFLAGS and/or CPPFLAGS

        config OPTIMIZATION_LEVEL_DEBUG
            bool "Debug"

        config OPTIMIZATION_LEVEL_RELEASE
            bool "Release"

    endchoice

    config ENABLE_QEMU_SIMULATION
        bool "Enable Qemu simulation"
        default n
        ---help---
            Enable Qemu simulation

endmenu

source "$COMPONENT_KCONFIGS_PROJBUILD"

menu "Post build"
    config ENABLE_COPY_TARGET
        bool "Enable copy target after building"
        default n
        ---help---
            copy the output after building

    if ENABLE_COPY_TARGET

        config COPY_OUTPUT_FILE_TYPE_BIN
            bool "Copy output BIN file"
            default n
            ---help---
                Copy output bin file

        config COPY_OUTPUT_FILE_TYPE_ELF
            bool "Copy output ELF file"
            default n
            ---help---
              Copy output elf file.

        config COPY_DESTINATION
            string "The destination of copy"
            default "core_img"
            ---help---
                set the path of destination

    endif

    config ENABLE_SYNTAX_CHECKING
        bool "Enable syntax format checking"
        default y
        ---help---
            Check syntax format or not.

endmenu


menu "Module config"
    source "$COMPONENT_KCONFIGS"
endmenu


menu "Device conifg"
    source device/CMSIS/Kconfig
    source device/Kconfig.devices
endmenu

menu "Core Images"
    source core_img/Kconfig.imgs
endmenu

menu "APP config"
    source apps/Kconfig.app
endmenu
