#
# For a description of the syntax of this configuration file,
#

if HELLO_WORLD
comment "Application - Hello World"


menu "Hello World"

    config VERSION
        bool "version"
        default 0

endmenu

endif
