#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#

menu "stm32f0"

    choice STM32F0_TARGET_BOARD
        prompt "target board"
        default STM32F0_EVB
        ---help---
            target board selection

        config STM32F0_EVB
            bool "stm32f0 EVB"

        config STM32F0_RDB
            bool "stm32f0 RDB"

    endchoice

    if STM32F0_EVB
        source "device/stm32f0/bsp/evb/Kconfig"
    endif

    if STM32F0_RDB
        source "device/stm32f0/bsp/rdb/Kconfig"
    endif
endmenu
