#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#

menu "t7610 unit-test"

    config UNITTEST_WDT
        bool "unit-test WDT"
        default n
        ---help---
            unit-test WDT

    config UNITTEST_TIMER
        bool "unit-test Timer"
        default n
        ---help---
            unit-test Timer

    config UNITTEST_GPIO
        bool "unit-test GPIO"
        default n
        ---help---
            unit-test GPIO

    config UNITTEST_FC
        bool "unit-test FC"
        default n
        ---help---
            unit-test flash controlling

    config UNITTEST_SSP
        bool "unit-test SSP"
        default n
        ---help---
            unit-test SSP


endmenu
