#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#

menu "unittest"

    config ENABLE_UNITTEST
        bool "enable unittest module"
        default n
        ---help---
            enable unittest or not


    if ENABLE_UNITTEST


    endif

endmenu

