#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#

menu "stm32f3"

    choice STM32F3_TARGET_BOARD
        prompt "target board"
        default STM32F3_EVB
        ---help---
            target board selection

        config STM32F3_EVB
            bool "stm32f3 EVB"

        config STM32F3_RDB
            bool "stm32f3 RDB"

    endchoice

    if STM32F3_EVB
        source device/stm32f3/bsp/evb/Kconfig
    endif

    if STM32F3_RDB
        source device/stm32f3/bsp/rdb/Kconfig
    endif
endmenu
