#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
# Copyright (c) 2018 Wei-Lun Hsu
# @author  Wei-Lun Hsu
# @version 0.1
#

menu "Kernel (Operating System)"

comment "Kernel (Operating System)"

    choice
        prompt "Kernel Type"
        default Kernel_F9

    config Kernel_F9
        bool "Kernel F9"
        ---help---
            Kernel: F9 Microkernel

    config Kernel_FreeRTOS
        bool "Kernel FreeRTOS"
        ---help---
            Kernel: FreeRTOS

    endchoice


endmenu
