#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#

menu "private-common"

    config ENABLE_COMMON
        bool "enable common module"
        default y
        ---help---
            enable common or not

endmenu

