#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
# Copyright (c) 2018 Wei-Lun Hsu
# @author  Wei-Lun Hsu
# @version 0.1
#

menu "Board Support Package"

comment "Board support package"

    choice
        prompt "Board"
        default Board_Common

    config Board_Common
        bool "Board Common Package"
        ---help---
            Board Common Package

    config Board_1
        bool "Board Type 1"
        ---help---
            Board Type 1

    endchoice


endmenu
