#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#

menu "private-utils"

    config ENABLE_UTILS
        bool "enable utils module"
        default n
        ---help---
            enable utils or not


    if ENABLE_UTILS

        config ENABLE_LOG
            bool "Enable system log"
            default n
            ---help---
                enable system log or not

        if ENABLE_LOG
            config ENABLE_LOG_TEE
                bool "Enable log record"
                default n
                ---help---
                    enable log record or not
        endif

        config ENABLE_SHELL_CMD_HISTORY
            bool "Enable history of shell console"
            default n
            ---help---
                enable history of shell console or not


    endif

endmenu
