#
# For a description of the syntax of this configuration file,
# see doc/kconfig-language.txt.
#


menu "stm32f429i"

    config KEY_GPIO
        int "GPIO of key"
        default 0
        ---help---
            set GPIO of key.

endmenu
